*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

body{
  background-color: rgb(18, 2, 32);
}

body *{
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

main{
  max-width: 580px;
  width: 90%;
  margin: auto;

  display: grid;
  gap: 24px;
}

section{
  color: white;
}

section div{
  background-color: #2A263A;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section h2{
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.47px;
}

section p{
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.18px;
  color: #A1A1AA
}

section ul{
  display: flex;
  gap: 16px;

  margin-top: 24px;
}

.course-list img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

.course-list iframe{
  border-radius: 10px;
}

.channel-list img{
  border-radius: 50%;
  width: 100px;
}

/* Minhas redes*/

.social-list{
  display: flex;
  justify-content: space-around;
}

.social-list li{
  margin: 0 10px;
}

.social-list li a{
  font-size: 30px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  position: relative;
  transition: 0.5s ease;
}

.social-list li a:hover{
  background: linear-gradient(45deg , #12c2e9, #c471ed, #f64f59);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 40px;
}

.social-list li a::before{
  content: '';
  position: absolute;
  z-index: -1;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: linear-gradient(45deg,  #12c2e9, #c471ed, #f64f99);
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.social-list li a:hover::before{
  transform: scale(0);
}